/*==== Importando a fonte do documento ====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary-color: #007AF3;
  --primary-color-logo: black;
  --primary-color-nav:  #fff;
  --primary-color-body:  #F2F2F2;
  --primary-color-link: #444444;
}

body {
  background: var(--primary-color-body);
  margin: 0;
  font-family: 'Poppins';
}

.navbar {
  background: var(--primary-color-nav);
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color-logo);
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: var(--primary-color-link);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}