@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');


h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    border: 3px solid blue;
    width: 50%;
}

p{
    background-color: black;
    color: white;
}
span{
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: yellow;
    text-decoration: underline;
    text-transform: uppercase;
}

ul{
    font-size: 50px;
    list-style-type: none;
}
ol{
    font-size: 50px;
    list-style: upper-latin;
    margin-left: 40px;
}
.conteudo{
    margin-left: 2rem;
}
#titulo-principal{
    margin-left: 5rem;
}

.titulo{
    color: red;
}
/** regras de especificidade*/
/*Explicando cascade e especificidade*/

/* peso 0-2-0 */
.titulo.titulo-pagina {
    color: purple;
}

/* peso 1-0-0 */
#titulo-principal {
    color: yellowgreen;
}

/* peso 0-1-0 */
.titulo-pagina {
    font-size: 5rem;
    border: 5px solid red;
    color: red;
    margin-left: 4rem;
}

/* peso 0-1-0 */
.titulo {
    border-style: dashed;
    color: green;
    margin-left: 0rem;
}

/* 0-0-1 */
/* se tiver !important o peso ficará 1-0-0-0, ou seja, sobrescreverá tudo*/

/*
.nome {classe}
#nome {id}
*/

/*
* pseudo seletores no css começam com : 
* ex: ::after :hover :link
*/

/*== Seletor Genérico ==*/
.titulo-generico{
    font-size: 40px;
    color: #FF0000;
}
/*== Seletor Descendente Imediato Combinado (obrigatóriamente o filho) ==*/
.pai > .filho{
    font-size: 80px;
    font-family: cursive;
    color: #000000;
}
/*== Seletor Descendentes (não importa o nivel de especificação) ==*/
.container-exemplo  .titulo-generico{
    font-size: 80px;
    color: #000000;
}


.meu-link{
    font-size: 20px;
    text-decoration: none;
    background-color: lightgray;
    color: #FFFFFF;
}

/**
* Formata para quando o mouse passar em cima
*/
.meu-link:hover{
    font-size: 40px;
    text-decoration: underline;
    background-color:rgba(128, 128, 128, 0.452);
}

/**
* Formata a cor para links que não foram visitados
*/
.meu-link:link{
    color: blue;
}
/**
* Formata a cor para links já visitados
*/
.meu-link:visited{
    color: purple;
}

/**
* é executado quando estamos precionando o elemente, segurando
*/
.meu-link:active{ 
    font-size: 60px;
    color: azure;
}

/**
* ativado quando utilizado pelo tab, ou quando segura em cima do elemento, sobrescreve o active
*/
.meu-link:focus{
    font-size: 90px;
    color: orangered;
}
.input{
    background-color: #f029F2;
    font-size: 50px;
    color: #ffffff;
}
.input:focus{
    background-color: #ffffff;
    color: #000000;
}


